*{/* Esto selecciona y aplica en todos los elementos del documento */
    padding: 0;/* crea el espacio o área alrededor del contenido de un elemento */
    margin: 0;/* establece el margen para los cuatro lados */
    box-sizing: border-box;/* indica cómo se deben calcular las medidas de un elemento */
    text-decoration: none;/* permite que el texto sea decorado mediante una de cinco propiedades: 
    underline (subrayado),
    overline (línea superior), 
    line-through (tachado), 
    blink (parpadeo), 
    o la por defecto none (ninguna) */
    list-style: none; /* Para no mostrar ningún marcador en una lista de elementos */
    border: none;    /* borde */
    outline: none;/* es usada para establecer el estilo del contorno de un elemento */
    scroll-behavior: smooth; /* especifica el comportamiento del desplazamiento para un elemento con desplazamiento */
    font-family: 'Work Sans', sans-serif;/* Fuente sacada de google fonts */
}

/* Se declaran los diseños universales para el documento */
:root{
    /* Tamaños de letras */
    --h1-font: 5rem;
    --h2-font: 2.9rem;
    --p-font: 1.1rem;
    /* Colores */
    --bg-color: #05144d;
    --text-color: #ffffff;
    --main-color: #4a90df;
    --other--color: #d6d6d6;

}

body{
    background-color: #0f2479;
    color: var(--text-color);
}


/* header ------------------------------ */

header{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: 30px 15%;
    transition: all .80s ease;
}
.logo img{
    height: 110px;
    width: 110px;
    position: fixed;
    top: 10px;
    transition: all .80s ease;
}

.navbar{
    display: flex;
    gap: 20px;
    margin-left: 30rem;
    transition: all .80s ease;
    
}
.navbar a{
    padding: 10px 30px;
    font-size: var(--p-font);
    font-weight: 400;
    color: #f2f3f4;
    transition: all .40s ease;
    border-bottom: 2px solid #f2f3f4;
}
.navbar a:hover{
    color: var(--text-color); 
}


.navbar a:hover{
    color: #abafc7;
    font-weight: 700;
    
}

.h-boton{
    display: flex;
    align-items: center;
}

.h-boton-login{
    background: transparent;
    border: 2px solid #f2f3f4;
    display: inline-block;
    padding: 14px 45px;
    border-radius: 10px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    transition: all .40s ease;
}
.h-boton-login:hover{
    background-color: white;
    color: var(--main-color);
    font-size: 1.3em;
    font-weight: 600;
}

.icono-menu{
    color: var(--text-color);
    font-size: 36px;
    margin-left: 5px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

header.sticky{
    padding: 10px 15% 15px ;
    background: var(--bg-color);
}
header.sticky .logo img{
    height: 70px;
    width: 70px;
    top: 0px;
}

/* fin de header */


.wrapper {
    width: 400px;
    height: auto;
    padding: 3rem;
    border: 3px solid var(--text-color);
    border-radius: .7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px auto;

}
.box-form{
    width: 100%;
    height: auto;
    background-color: var(--main-color);
    border-color: var(--other--color);
    border-radius: .70rem;
    padding: 10px;
    display: grid;
    grid-column: auto;

}
.wrapper label{

    width: auto;
    height: auto;
}

.boton{
    display: inline-block;
    padding: 18px 28px;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: .70rem;
    font-size: 17px;
    font-weight: 500;
    transition: all .50s ease;
}
.boton:hover{
    transform: translateY(-7px) scale(0.9);
}



/* Realizamos un footer Con tres columnas y con el logo de la imagen y las redes sociales */

.footer{
    width: 100%;
    height: auto;
    background-color: var(--bg-color);  
    padding: auto;    
}

.footer .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.footer .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .grupo-1 .box img{
    width: 250px;

}

.footer .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .grupo-1 .box p{
    color: #d4d5da;
    margin-bottom: 10px;
}

.footer .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #000020;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 15%;
}
/* Con esto se ponen el color de fondo cuando pasa el mouse por las redes */
.footer .grupo-1 .red-social a:hover{
    width: 60px;
    height: 55px;
    line-height: 60px;
}
.footer .grupo-1 .red-social .R-1:hover{
    background-color: #303df3;
}
.footer .grupo-1 .red-social .R-2:hover{
    background-color: #4adf6a;
}
.footer .grupo-1 .red-social .R-3:hover{
    background-color: #5b25a1;
}
.footer .grupo-1 .red-social .R-4:hover{
    background-color: #ec47c9;
}

/* Editamos la linea inferior de copy  */
.footer .grupo-2{
    background-color: #000020;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.footer .grupo-2 small{
    font-size: 15px
}


/* .wrapper form{
    width: 400px;
    height: 440px;
    border: 3px solid #061d70;
    border-radius: .7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height 1.2s ease;
    margin: 100px 0;
} */