*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
    list-style: none; /* Para no mostrar ningún marcador en una lista de elementos */
    border: none;    /* borde */
    outline: none;
    box-sizing: border-box;/* indica cómo se deben calcular las medidas de un elemento */
    text-decoration: none;
}

body{
    justify-content: center;
    align-items: center;
    height: 100vh;
}
:root{
    /* Tamaños de letras */
    --h1-font: 5rem;
    --h2-font: 2.9rem;
    --p-font: 1.1rem;
    /* Colores */
    --bg-color: #05144d;
    --text-color: #ffffff;
    --main-color: #4a90df;
    --other--color: #d6d6d6;

}

.slider {
    width: 40px;
    height: 18px;
    background-color: #061d70   ;
    border-radius: 15px;
    position: relative;
}

.toggle-input {
    display: none;
}

.toggle-label {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #f2f3f4;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: left 0.3s;
    cursor: pointer;
}

.toggle-input:checked + .toggle-label {
    left: 24px;
    background-color: rgb(137, 137, 175);
    
}
/* header ------------------------------ */
header{
    background-color: var(--bg-color);
    width: 100%;
    height: 100px;
    position: fixed;
    justify-content: space-between;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 10px 13vh;
    transition: all .80s ease;
}
.logo img{
    width: 100px;
    height: 100px;
    transition: all .80s ease;
}

.navbar{
    display: flex;
    gap: 20px;
    margin-left: 30rem;
    transition: all .80s ease;
}
.navbar a{
    padding: 10px 30px;
    font-size: var(--p-font);
    font-weight: 700;
    color: #f2f3f4;
    transition: all .40s ease;
    border-bottom: 2px solid #f2f3f4;
}
.navbar a:hover{
    color: var(--text-color); 
}


.navbar a:hover{
    color: #a4a6ae;
    
}

.h-boton{
    display: flex;
    align-items: center;
}

.h-boton-login{
    background: var();
    border: 2px solid #f2f3f4;
    display: inline-block;
    padding: 14px 45px;
    border-radius: 10px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    transition: all .40s ease;
}
.h-boton-login:hover{

    background-color: white;
    color: var(--main-color);
    font-size: 1.3em;
    font-weight: 600;
}

#nextButton:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

#nextButton:hover:not([disabled]) {
    background-color: #0056b3;
}

.icono-menu{
    color: var(--text-color);
    font-size: 36px;
    margin-left: 5px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}
/* scroll header animation  */
header.sticky{
    padding: 10px 15% 15px ;
    background: var(--bg-color);
}
header.sticky .logo img{
    height: 70px;
    width: 70px;
    top: 0px;
}

.wrapper { 
    width: 400px;
    height: 440px;
    border: 3px solid #061d70;
    border-radius: .7rem;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: height 1.2s ease;
    display: flex; 
    top: 10vh;
    margin: 100px auto;
}

.wrapper.active {
    height: 950px;

}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}


.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);

}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #061d70;
    font-size: 2em;
    color: #061d70;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1; 
}

.form-box h2 {
    font-size: 2em;
    color: #061d70;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #061d70;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #061d70;
    font-style: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #061d70;
    font-weight: 600;
    padding: 0 35px 0 5px;

}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #061d70;
    line-height: 57px;
}

.recuperarcontra {
    font-size: .9em;
    color: #061d70;
    font-size: 500;
    margin: -13px 0 15px;
    display: flex;
    justify-content: space-between;
}

.recuperarcontra label {
    accent-color: #061d70;
    position: relative;
    right: 35px;
}
.recuperarcontra-2 {
    font-size: .9em;
    color: #061d70;
    font-size: 500;
    margin: -13px 0 15px;
    display: flex;
    justify-content: space-between;
}

.recuperarcontra-2 label {
    accent-color: #061d70;
    position: relative;
    right: 0px;
}

.recuperarcontra a {
    color: #061d70;
    text-decoration: none;
}

.recuperarcontra a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #061d70;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #f2f3f4;
    font-weight: 500;
    transition: .5s;
}

.btn:hover {
    transform: scale(1.1);
}

.login-register {
    font-size: .9em;
    color: #061d70;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #061d70;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

/* Realizamos un footer Con tres columnas y con el logo de la imagen y las redes sociales */
.footer{
    width: 100%;
    background-color: var(--bg-color);   
    bottom: 0;
}



.footer .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 17px;
    padding: 17px 0px;
}

.footer .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .grupo-1 .box img{
    width: 130px;
}

.footer .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}

.footer .grupo-1 .box p{
    color: #d4d5da;
    margin-bottom: 5px;
}

.footer .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #000020;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 15%;
}
/* Con esto se ponen el color de fondo cuando pasa el mouse por las redes */
.footer .grupo-1 .red-social a:hover{
    width: 60px;
    height: 55px;
    line-height: 60px;
}
.footer .grupo-1 .red-social .R-1:hover{
    background-color: #303df3;
}
.footer .grupo-1 .red-social .R-2:hover{
    background-color: #4adf6a;
}
.footer .grupo-1 .red-social .R-3:hover{
    background-color: #5b25a1;
}
.footer .grupo-1 .red-social .R-4:hover{
    background-color: #ec47c9;
}

/* Editamos la linea inferior de copy  */
.footer .grupo-2{
    background-color: #000020;
    padding: 10px 5px;
    text-align: center;
    color: #fff;
}

.footer .grupo-2 small{
    font-size: 15px
}

/* Conesto hacemos que el footer sea responsive */

@media screen and (max-widht:800px){
    .footer .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

}

/* Especificaciones del Home */

/* Ponemos las especificaciones del primer bloque del home */
.vista1{
    background-color: #061d70;
    width: 100%;
    height: 50%;
    top: 8%;
    position: absolute;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 50px 20% 0% 0%;
    z-index: 2;
    
}
/* poner ima imagen de fondo a la animacion */
.vista1 .vista-cajas-imagen img{
    width: 480px;
    height: 480px;
    background-image: url(/static/css/multimedia/Fondo.png);
}
/* organizamos la caja2 que contiene los textos y el boton */
.caja-2{
    width: 100%;
    height: 431px;
    padding: 10px 0px 10px 25%;
    color: #f2f3f4;
    font-size: 1.2em;

}
/* diseño de texto  */
.vista-cajas p{
    color: #d4d5da;
    font-size: 0.9em;

}
.vista-boton{
    padding: 40px 20px 30px 5px;
}
/* diseño del boton  */
.vista-boton button{
    color: rgb(0, 0, 0);
    background-color: #d4d5da;
    width: 180px;
    height: 80px;
    padding: auto;
    border-radius: 10%;
    border: solid 0px rgb(0, 0, 0);
    font-size: 0.9em;
    font-family: 'Rubik', sans-serif;
}
/* Tamaño y fuente del titulo */
.titulo p{
    color: #f2f3f4;
    font-size: 2.3em;
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
}

/* Home segundo bloque */

.vista2{
    z-index: 1;
    position: absolute;
    margin-top: 540px;
    background-color: #4a90df;
    width: 100%;
    height: 40%;
}
.vista3{
    z-index: 1;
    position: absolute;
    margin-top: 540px;
    background-color: #4a90df;
    width: 100%;
    height: 40%;
}


