<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>


<body>
    <h1>Bienvenido {{ nombre }}</h1>
    <a href="{{ url_for('admin.registrar_admin') }}"><button>Registrar admin</button></a>
    <a href="{{ url_for('formulario.formulario') }}"><button>Registrar otra persona</button></a>
    <a href="/consultas"><button>Consultas de usuarios</button></a>
    <a href="/home"><button>Vista de usuario</button></a>
    <a href="/"><button>Cerrar sesion</button></a>      
</body>
</html>
