<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Filtrando elementos por categorias</title>

	<link rel="stylesheet" href="../static/css/catalogo.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

</head>
<body>
    <!-- header--------------------------- -->
	<header>
        <a href="/#home" class="logo">
            <img src="../static/multimedia/logo.png" alt="">
        </a>
        <ul class="navbar">
            <li><a href="/#home">Home</a></li>
            <li><a href="/#nosotros">Nosotros</a></li>
            <li><a href="/catalogo">Servicios</a></li>
            <li><a href="/#footer">Contactanos</a></li>
        </ul>
        <div class="h-boton">
            <a href="/login " class="h-boton-login">login</a>
            <div class="icono-menu"><ion-icon name="reorder-four-outline"></ion-icon></div>
        </div>

    </header>

	<div class="wrap">
		<h1>Catalogo De Oficios</h1>
		<div class="store-wrapper">
			<div class="category_list">
				<a href="#" class="category_item" category="all">Todos</a>
				<a href="#" class="category_item" category="Albañiles">Albañiles</a>
				<a href="#" class="category_item" category="Pintores">Pintores</a>
				<a href="#" class="category_item" category="Plomeros">Plomeros</a>
				<a href="#" class="category_item" category="Niñeras">Niñeras</a>
				<a href="#" class="category_item" category="Carpintero">Carpintero</a>
			</div>


<!-- LISta de empleados  ----------------------------------------------------- -->
			<section class="products-list">
<!-- empleados -------------------------------------------------->
				<div class="product-item" category="Pintores">
					<img src="../static/multimedia/home/undraw_male_avatar_g98d.svg" alt="" >
					<a href="#"><ion-icon name="brush"></ion-icon>Juan Diaz<ion-icon name="brush"></ion-icon>
				
					<p>Hola, Soy un pintor experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Pintores">
					<img src="../static/multimedia/home/undraw_female_avatar_efig.svg" alt="" >
					<a href="#"><ion-icon name="brush"></ion-icon>Daniela<ion-icon name="brush"></ion-icon>
				
					<p>Hola, Soy una Pintora experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Plomeros">
					<img src="../static/multimedia/home/undraw_pic_profile_re_7g2h.svg" alt="" >
					<a href="#"><ion-icon name="build"></ion-icon>Esteben Fuentes<ion-icon name="build"></ion-icon>
				
					<p>Hola, Soy un Plomero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Plomeros">
					<img src="../static/multimedia/home/undraw_profile_pic_re_iwgo.svg" alt="" >
					<a href="#"><ion-icon name="build"></ion-icon>Juana Diaz<ion-icon name="build"></ion-icon>
				
					<p>Hola,Soy una Plomera experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Albañiles">
					<img src="../static/multimedia/home/undraw_profile_pic_re_iwgo.svg" alt="" >
					<a href="#"><ion-icon name="hammer"></ion-icon>Viviana fernadez<ion-icon name="hammer"></ion-icon>
				
					<p>Hola, Soy una Albañil experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Albañiles">
					<img src="../static/multimedia/home/undraw_male_avatar_g98d.svg" alt="" >
					<a href="#"><ion-icon name="hammer"></ion-icon>Juan Diaz<ion-icon name="hammer"></ion-icon>
				
					<p>Hola, Soy un Albañil experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>  
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Niñeras">
					<img src="../static/multimedia/home/undraw_pic_profile_re_7g2h.svg" alt="" >
					<a href="#"><ion-icon name="home"></ion-icon>Santiago Rojas<ion-icon name="home"></ion-icon>
				
					<p>Hola, Soy un niñero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Niñeras">
					<img src="../static/multimedia/home/undraw_female_avatar_efig.svg" alt="" >
					<a href="#"><ion-icon name="home"></ion-icon>Sara Lopez<ion-icon name="home"></ion-icon>
				
					<p>Hola, Soy una niñera experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>	
				<div class="product-item" category="Carpintero">
					<img src="../static/multimedia/home/undraw_pic_profile_re_7g2h.svg" alt="" >
					<a href="#"><ion-icon name="construct"></ion-icon>Juan Diaz<ion-icon name="construct"></ion-icon>
						<blockquote></blockquote>
					<p>Hola, Soy un Carpintero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Carpintero">
					<img src="../static/multimedia/home/undraw_male_avatar_g98d.svg" alt="" >
					<a href="#"><ion-icon name="construct"></ion-icon>Juan Diaz<ion-icon name="construct"></ion-icon>
						<blockquote></blockquote>
					<p>Hola, Soy un Carpintero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Pintores">
					<img src="../static/multimedia/home/undraw_male_avatar_g98d.svg" alt="" >
					<a href="#"><ion-icon name="brush"></ion-icon>Juan Diaz<ion-icon name="brush"></ion-icon>
				
					<p>Hola, Soy un pintor experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Pintores">
					<img src="../static/multimedia/home/undraw_female_avatar_efig.svg" alt="" >
					<a href="#"><ion-icon name="brush"></ion-icon>Daniela<ion-icon name="brush"></ion-icon>
				
					<p>Hola, Soy una Pintora experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Plomeros">
					<img src="../static/multimedia/home/undraw_pic_profile_re_7g2h.svg" alt="" >
					<a href="#"><ion-icon name="build"></ion-icon>Esteben Fuentes<ion-icon name="build"></ion-icon>
				
					<p>Hola, Soy un Plomero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Plomeros">
					<img src="../static/multimedia/home/undraw_profile_pic_re_iwgo.svg" alt="" >
					<a href="#"><ion-icon name="build"></ion-icon>Juana Diaz<ion-icon name="build"></ion-icon>
				
					<p>Hola,Soy una Plomera experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Albañiles">
					<img src="../static/multimedia/home/undraw_profile_pic_re_iwgo.svg" alt="" >
					<a href="#"><ion-icon name="hammer"></ion-icon>Viviana fernadez<ion-icon name="hammer"></ion-icon>
				
					<p>Hola, Soy una Albañil experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Albañiles">
					<img src="../static/multimedia/home/undraw_male_avatar_g98d.svg" alt="" >
					<a href="#"><ion-icon name="hammer"></ion-icon>Juan Diaz<ion-icon name="hammer"></ion-icon>
				
					<p>Hola, Soy un Albañil experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>  
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Niñeras">
					<img src="../static/multimedia/home/undraw_pic_profile_re_7g2h.svg" alt="" >
					<a href="#"><ion-icon name="home"></ion-icon>Santiago Rojas<ion-icon name="home"></ion-icon>
				
					<p>Hola, Soy un niñero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Niñeras">
					<img src="../static/multimedia/home/undraw_female_avatar_efig.svg" alt="" >
					<a href="#"><ion-icon name="home"></ion-icon>Sara Lopez<ion-icon name="home"></ion-icon>
				
					<p>Hola, Soy una niñera experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>	
				<div class="product-item" category="Carpintero">
					<img src="../static/multimedia/home/undraw_pic_profile_re_7g2h.svg" alt="" >
					<a href="#"><ion-icon name="construct"></ion-icon>Juan Diaz<ion-icon name="construct"></ion-icon>
						<blockquote></blockquote>
					<p>Hola, Soy un Carpintero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Carpintero">
					<img src="../static/multimedia/home/undraw_male_avatar_g98d.svg" alt="" >
					<a href="#"><ion-icon name="construct"></ion-icon>Juan Diaz<ion-icon name="construct"></ion-icon>
						<blockquote></blockquote>
					<p>Hola, Soy un Carpintero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Pintores">
					<img src="../static/multimedia/home/undraw_male_avatar_g98d.svg" alt="" >
					<a href="#"><ion-icon name="brush"></ion-icon>Juan Diaz<ion-icon name="brush"></ion-icon>
				
					<p>Hola, Soy un pintor experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Pintores">
					<img src="../static/multimedia/home/undraw_female_avatar_efig.svg" alt="" >
					<a href="#"><ion-icon name="brush"></ion-icon>Daniela<ion-icon name="brush"></ion-icon>
				
					<p>Hola, Soy una Pintora experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Plomeros">
					<img src="../static/multimedia/home/undraw_pic_profile_re_7g2h.svg" alt="" >
					<a href="#"><ion-icon name="build"></ion-icon>Esteben Fuentes<ion-icon name="build"></ion-icon>
				
					<p>Hola, Soy un Plomero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Plomeros">
					<img src="../static/multimedia/home/undraw_profile_pic_re_iwgo.svg" alt="" >
					<a href="#"><ion-icon name="build"></ion-icon>Juana Diaz<ion-icon name="build"></ion-icon>
				
					<p>Hola,Soy una Plomera experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Albañiles">
					<img src="../static/multimedia/home/undraw_profile_pic_re_iwgo.svg" alt="" >
					<a href="#"><ion-icon name="hammer"></ion-icon>Viviana fernadez<ion-icon name="hammer"></ion-icon>
				
					<p>Hola, Soy una Albañil experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Albañiles">
					<img src="../static/multimedia/home/undraw_male_avatar_g98d.svg" alt="" >
					<a href="#"><ion-icon name="hammer"></ion-icon>Juan Diaz<ion-icon name="hammer"></ion-icon>
				
					<p>Hola, Soy un Albañil experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>  
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Niñeras">
					<img src="../static/multimedia/home/undraw_pic_profile_re_7g2h.svg" alt="" >
					<a href="#"><ion-icon name="home"></ion-icon>Santiago Rojas<ion-icon name="home"></ion-icon>
				
					<p>Hola, Soy un niñero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Niñeras">
					<img src="../static/multimedia/home/undraw_female_avatar_efig.svg" alt="" >
					<a href="#"><ion-icon name="home"></ion-icon>Sara Lopez<ion-icon name="home"></ion-icon>
				
					<p>Hola, Soy una niñera experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>	
				<div class="product-item" category="Carpintero">
					<img src="../static/multimedia/home/undraw_pic_profile_re_7g2h.svg" alt="" >
					<a href="#"><ion-icon name="construct"></ion-icon>Juan Diaz<ion-icon name="construct"></ion-icon>
						<blockquote></blockquote>
					<p>Hola, Soy un Carpintero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Carpintero">
					<img src="../static/multimedia/home/undraw_male_avatar_g98d.svg" alt="" >
					<a href="#"><ion-icon name="construct"></ion-icon>Juan Diaz<ion-icon name="construct"></ion-icon>
						<blockquote></blockquote>
					<p>Hola, Soy un Carpintero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Pintores">
					<img src="../static/multimedia/home/undraw_male_avatar_g98d.svg" alt="" >
					<a href="#"><ion-icon name="brush"></ion-icon>Juan Diaz<ion-icon name="brush"></ion-icon>
				
					<p>Hola, Soy un pintor experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Pintores">
					<img src="../static/multimedia/home/undraw_female_avatar_efig.svg" alt="" >
					<a href="#"><ion-icon name="brush"></ion-icon>Daniela<ion-icon name="brush"></ion-icon>
				
					<p>Hola, Soy una Pintora experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Plomeros">
					<img src="../static/multimedia/home/undraw_pic_profile_re_7g2h.svg" alt="" >
					<a href="#"><ion-icon name="build"></ion-icon>Esteben Fuentes<ion-icon name="build"></ion-icon>
				
					<p>Hola, Soy un Plomero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Plomeros">
					<img src="../static/multimedia/home/undraw_profile_pic_re_iwgo.svg" alt="" >
					<a href="#"><ion-icon name="build"></ion-icon>Juana Diaz<ion-icon name="build"></ion-icon>
				
					<p>Hola,Soy una Plomera experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Albañiles">
					<img src="../static/multimedia/home/undraw_profile_pic_re_iwgo.svg" alt="" >
					<a href="#"><ion-icon name="hammer"></ion-icon>Viviana fernadez<ion-icon name="hammer"></ion-icon>
				
					<p>Hola, Soy una Albañil experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Albañiles">
					<img src="../static/multimedia/home/undraw_male_avatar_g98d.svg" alt="" >
					<a href="#"><ion-icon name="hammer"></ion-icon>Juan Diaz<ion-icon name="hammer"></ion-icon>
				
					<p>Hola, Soy un Albañil experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>  
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Niñeras">
					<img src="../static/multimedia/home/undraw_pic_profile_re_7g2h.svg" alt="" >
					<a href="#"><ion-icon name="home"></ion-icon>Santiago Rojas<ion-icon name="home"></ion-icon>
				
					<p>Hola, Soy un niñero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Niñeras">
					<img src="../static/multimedia/home/undraw_female_avatar_efig.svg" alt="" >
					<a href="#"><ion-icon name="home"></ion-icon>Sara Lopez<ion-icon name="home"></ion-icon>
				
					<p>Hola, Soy una niñera experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>	
				<div class="product-item" category="Carpintero">
					<img src="../static/multimedia/home/undraw_pic_profile_re_7g2h.svg" alt="" >
					<a href="#"><ion-icon name="construct"></ion-icon>Juan Diaz<ion-icon name="construct"></ion-icon>
						<blockquote></blockquote>
					<p>Hola, Soy un Carpintero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Carpintero">
					<img src="../static/multimedia/home/undraw_male_avatar_g98d.svg" alt="" >
					<a href="#"><ion-icon name="construct"></ion-icon>Juan Diaz<ion-icon name="construct"></ion-icon>
						<blockquote></blockquote>
					<p>Hola, Soy un Carpintero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Pintores">
					<img src="../static/multimedia/home/undraw_male_avatar_g98d.svg" alt="" >
					<a href="#"><ion-icon name="brush"></ion-icon>Juan Diaz<ion-icon name="brush"></ion-icon>
				
					<p>Hola, Soy un pintor experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Pintores">
					<img src="../static/multimedia/home/undraw_female_avatar_efig.svg" alt="" >
					<a href="#"><ion-icon name="brush"></ion-icon>Daniela<ion-icon name="brush"></ion-icon>
				
					<p>Hola, Soy una Pintora experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Plomeros">
					<img src="../static/multimedia/home/undraw_pic_profile_re_7g2h.svg" alt="" >
					<a href="#"><ion-icon name="build"></ion-icon>Esteben Fuentes<ion-icon name="build"></ion-icon>
				
					<p>Hola, Soy un Plomero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Plomeros">
					<img src="../static/multimedia/home/undraw_profile_pic_re_iwgo.svg" alt="" >
					<a href="#"><ion-icon name="build"></ion-icon>Juana Diaz<ion-icon name="build"></ion-icon>
				
					<p>Hola,Soy una Plomera experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Albañiles">
					<img src="../static/multimedia/home/undraw_profile_pic_re_iwgo.svg" alt="" >
					<a href="#"><ion-icon name="hammer"></ion-icon>Viviana fernadez<ion-icon name="hammer"></ion-icon>
				
					<p>Hola, Soy una Albañil experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Albañiles">
					<img src="../static/multimedia/home/undraw_male_avatar_g98d.svg" alt="" >
					<a href="#"><ion-icon name="hammer"></ion-icon>Juan Diaz<ion-icon name="hammer"></ion-icon>
				
					<p>Hola, Soy un Albañil experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>  
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Niñeras">
					<img src="../static/multimedia/home/undraw_pic_profile_re_7g2h.svg" alt="" >
					<a href="#"><ion-icon name="home"></ion-icon>Santiago Rojas<ion-icon name="home"></ion-icon>
				
					<p>Hola, Soy un niñero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Niñeras">
					<img src="../static/multimedia/home/undraw_female_avatar_efig.svg" alt="" >
					<a href="#"><ion-icon name="home"></ion-icon>Sara Lopez<ion-icon name="home"></ion-icon>
				
					<p>Hola, Soy una niñera experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>	
				<div class="product-item" category="Carpintero">
					<img src="../static/multimedia/home/undraw_pic_profile_re_7g2h.svg" alt="" >
					<a href="#"><ion-icon name="construct"></ion-icon>Juan Diaz<ion-icon name="construct"></ion-icon>
						<blockquote></blockquote>
					<p>Hola, Soy un Carpintero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Carpintero">
					<img src="../static/multimedia/home/undraw_male_avatar_g98d.svg" alt="" >
					<a href="#"><ion-icon name="construct"></ion-icon>Juan Diaz<ion-icon name="construct"></ion-icon>
						<blockquote></blockquote>
					<p>Hola, Soy un Carpintero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Pintores">
					<img src="../static/multimedia/home/undraw_male_avatar_g98d.svg" alt="" >
					<a href="#"><ion-icon name="brush"></ion-icon>Juan Diaz<ion-icon name="brush"></ion-icon>
				
					<p>Hola, Soy un pintor experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Pintores">
					<img src="../static/multimedia/home/undraw_female_avatar_efig.svg" alt="" >
					<a href="#"><ion-icon name="brush"></ion-icon>Daniela<ion-icon name="brush"></ion-icon>
				
					<p>Hola, Soy una Pintora experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Plomeros">
					<img src="../static/multimedia/home/undraw_pic_profile_re_7g2h.svg" alt="" >
					<a href="#"><ion-icon name="build"></ion-icon>Esteben Fuentes<ion-icon name="build"></ion-icon>
				
					<p>Hola, Soy un Plomero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Plomeros">
					<img src="../static/multimedia/home/undraw_profile_pic_re_iwgo.svg" alt="" >
					<a href="#"><ion-icon name="build"></ion-icon>Juana Diaz<ion-icon name="build"></ion-icon>
				
					<p>Hola,Soy una Plomera experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Albañiles">
					<img src="../static/multimedia/home/undraw_profile_pic_re_iwgo.svg" alt="" >
					<a href="#"><ion-icon name="hammer"></ion-icon>Viviana fernadez<ion-icon name="hammer"></ion-icon>
				
					<p>Hola, Soy una Albañil experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Albañiles">
					<img src="../static/multimedia/home/undraw_male_avatar_g98d.svg" alt="" >
					<a href="#"><ion-icon name="hammer"></ion-icon>Juan Diaz<ion-icon name="hammer"></ion-icon>
				
					<p>Hola, Soy un Albañil experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>  
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Niñeras">
					<img src="../static/multimedia/home/undraw_pic_profile_re_7g2h.svg" alt="" >
					<a href="#"><ion-icon name="home"></ion-icon>Santiago Rojas<ion-icon name="home"></ion-icon>
				
					<p>Hola, Soy un niñero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Niñeras">
					<img src="../static/multimedia/home/undraw_female_avatar_efig.svg" alt="" >
					<a href="#"><ion-icon name="home"></ion-icon>Sara Lopez<ion-icon name="home"></ion-icon>
				
					<p>Hola, Soy una niñera experimentada y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>	
				<div class="product-item" category="Carpintero">
					<img src="../static/multimedia/home/undraw_pic_profile_re_7g2h.svg" alt="" >
					<a href="#"><ion-icon name="construct"></ion-icon>Juan Diaz<ion-icon name="construct"></ion-icon>
						<blockquote></blockquote>
					<p>Hola, Soy un Carpintero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>
				<div class="product-item" category="Carpintero">
					<img src="../static/multimedia/home/undraw_male_avatar_g98d.svg" alt="" >
					<a href="#"><ion-icon name="construct"></ion-icon>Juan Diaz<ion-icon name="construct"></ion-icon>
						<blockquote></blockquote>
					<p>Hola, Soy un Carpintero experimentado y con toda las disponibilidad para usted veci.</p>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon> 
                    </a>
					</a>
					<a href="#" class="boton">Ver Perfil</a>
				</div>


<!-- empleados ------------------------>
			</section>
		</div>
	</div>


<!-- LISta de empleados  --FINNN --------------------------------------------------- -->
    <footer class="footer" id="footer">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#" >
                        <img src="../static/multimedia/logo.png" alt="">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>Sobre Nosotros</h2>
                <p>Somos un Emprendimiento Apoyado del sena y con la busqueda de mejorar el pais.</p>
                <p>Estamos en El inicio del cambio para poder dar trabajos.</p>
            </div>
            <div class="box">
                <h2>Siguenos</h2>
                <div class="red-social">
                    <a href="https://www.youtube.com/" link="" class="R-1"><ion-icon name="logo-facebook" role="img" class="md hydrated"></ion-icon></a>
                    <a href="" class="R-2"><ion-icon name="logo-whatsapp"></ion-icon>   </a>
                    <a href="" class="R-3"><ion-icon name="logo-tiktok"></ion-icon></a>
                    <a href="" class="R-4"><ion-icon name="logo-instagram"></ion-icon></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Labor lane</b>- Todos los Derechos Reservados</small>
        </div>
    </footer>

	    <!--link de la paguina de los iconos -->    
		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
		<!-- Conecxicion con el .js -->
		<script src="../static/js/home.js"></script>
		<script src="../static/js/js-catalogo/jquery-3.2.1.js"></script>
		<script src="../static/js/js-catalogo/script.js"></script>
	
</body>
</html>