<html>
<head>
    <title>Empleados</title>
    <style>
        /* Estilos del formulario de edición de empleados */
body {
    background-color: #f2f3f4;
    font-family: Arial, sans-serif;
}

form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #061d70;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #061d70;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #061d70;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #004080;
}

/* Estilos adicionales para mejorar la legibilidad del formulario */

    </style>
</head>
<body>
    <h1>Editar Empleado</h1>
    <!-- {% for empleado in empleados %} -->
    <form action="/actualizar" method="post">
        <label for="id">ID:</label>
        <input type="text" name="id" id="id" value="{{ empleado[0] }}" readonly><br>
        
        <label for="nombres">Nombres:</label>
        <input type="text" name="nombres" id="nombres" value="{{ empleado[1] }}" required><br>
        
        <label for="p_apellido">Primer Apellido:</label>
        <input type="text" name="p_apellido" id="p_apellido" value="{{ empleado[2] }}" required><br>

        <label for="s_apellido">Segundo Apellido:</label>
        <input type="text" name="s_apellido" id="s_apellido" value="{{ empleado[3] }}" required><br>

        <label for="genero">Genero:</label>
        <select name="genero" value="{{ empleado[4] }}" required>
            <option value="masculino" id="masculino">Masculino</option>
            <option value="femenino" id="femenino">Femenino</option>
            <option value="otro_genero" id="otro_genero">Otro genero</option>
        </select><br>

        <label for="tipo_documento">Tipo de documento:</label>
        <select name="tipo_documento" value="{{ empleado[5] }}" required>
            <option value="TI" id="TI" >TI</option>
            <option value="CC" id="CC" selected>CC</option>
            <option value="CE" id="CE">CE</option>
            <option value="NIT" id="NIT">NIT</option>
        </select><br>

        <label for="numero_documento">Número de documento:</label>
        <input type="number" name="numero_documento" id="numero_documento" value="{{ empleado[6] }}" required><br>

        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" value="{{ empleado[7] }}" required><br>
        
        <label for="celular_u">Primer Celular:</label>
        <input type="number" name="celular_u" id="celular_u" value="{{ empleado[8] }}" required><br>

        <label for="celular_d">Segundo Celular:</label>
        <input type="number" name="celular_d" id="celular_d" value="{{ empleado[9] }}" required><br>                

        <label for="direccion">Dirección:</label>
        <input type="text" name="direccion" id="direccion" value="{{ empleado[10] }}" required><br>

        <label for="estrato">Estrato Residencia:</label>
        <select name="estrato" value="{{ empleado[11] }}" required>
            <option value="Uno" id="Uno" >Uno</option>
            <option value="Dos" id="Dos" >Dos</option>
            <option value="Tres"id="Tres" selected>Tres</option>
            <option value="Cuatro" id="Cuatro" >Cuatro</option>
            <option value="Cinco" id="Cinco" >Cinco</option>
            <option value="Seis" id="Seis">Seis</option>
            <option value="No_estratificado" id="No_estratificado">No estratificado</option>
        </select><br>
        
        <label for="correo">Correo electrónico:</label>
        <input type="email" name="correo" id="correo" value="{{ empleado[12] }}" required><br>
        
        <label for="contraseña">Contraseña:</label>
        <input type="password" name="contraseña" id="contraseña" value="{{ empleado[13] }}" required><br>

        <label for="estado_civil"> Estado Civil:</label>
        <select name="estado_civil" value="{{ empleado[14] }}" required>
            <option value="indiferente" id="indiferente" selected>indiferente</option>
            <option value="soltero" id="soltero" >soltero</option>
            <option value="casado" id="casado" >casado</option>
            <option value="union_libre" id="union_libre" >union libre</option>
            <option value="separado" id="separado" >Separado</option>
            <option value="viudo" id="viudo" >Viudo</option>
        </select><br>

        <label for="personasacargo">Personas a Cargo:</label>
        <input type="number" name="personasacargo" id="personasacargo" value="{{ empleado[15] }}" required><br>

        <label for="LibretaMilitar"> Libreta Militar:</label>
        <select name="LibretaMilitar" value="{{ empleado[16] }}" required>
            <option value="no_tiene" id="no_tiene">No tiene</option>
            <option value="libreta_primera" id="libreta_primera">Libreta de primera</option>
            <option value="libreta_segunda" id="libreta_segunda">libreta de segunda</option>
        </select><br>

        <label for="Contenido">Contenido:</label>
        <textarea type="text" name="Contenido" id="Contenido" value="{{ empleado[17] }}" required></textarea><br>

        <label for="rol"> Que Rol tienes:</label>
        <select name="rol" readonly>
            <option value="1" id="1" >Cliente</option>
            <option value="3" id="3" selected: disabled>Empleado</option>
        </select><br>

        <label for="Barrio"> Barrio:</label>
        <select name="Barrio" value="{{ empleado[19] }}" required>       
            <option value="Usaquen" id="Usaquen">Usaquén</option> 
            <option value="Chapinero"  id="Chapinero">Chapinero<option> 
            <option value="Santa_Fe"  id="Santa_Fe">Santa Fe<option> 
            <option value="San_Cristobal"  id="San_Cristobal">San Cristóbal<option> 
            <option value="Usme"  id="Usme">Usme<option> 
            <option value="Tunjuelito"  id="Tunjuelito">Tunjuelito<option> 
            <option value="Bosa"  id="Bosa">Bosa<option>
            <option value="Kennedy"  id="Kennedy">Kennedy<option> 
            <option value="Fontibon"  id="Fontibon">Fontibón<option> 
            <option value="Engativa"  id="Engativa">Engativá<option> 
            <option value="Suba"  id="Suba">Suba<option> 
            <option value="Barrios_Unidos"  id="Barrios_Unidos">Barrios Unidos<option> 
            <option value="Teusaquillo"  id="Teusaquillo">Teusaquillo<option> 
            <option value="Los_Martires"  id="Los_Martires">Los Mártires<option> 
            <option value="Antonio_Nariño"  id="Antonio_Nariño">Antonio Nariño<option>
            <option value="Puente_Aranda"  id="Puente_Aranda">Puente Aranda<option> 
            <option value="La_Candelaria"  id="La_Candelaria">La Candelaria<option> 
            <option value="Rafael_Uribe_Uribe"  id="Rafael_Uribe_Uribe">Rafael Uribe Uribe<option> 
            <option value="Ciudad_Bolivar"  id="Ciudad_Bolivar">Ciudad Bolívar<option>
        </select><br>

        <label for="Estado"> Estado:</label>
        <select name="Estado" readonly>
            <option value="ACTIVO" id="ACTIVO" >ACTIVO</option>
            <option value="INACTIVO" id="INACTIVO" selected: disabled>INACTIVO</option>
        </select><br>
        
        <input type="submit" value="Enviar">
    </form>
        <!-- {% endfor %} -->
</body>
</html>