<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Términos y Condiciones</title>
    <style>
        /* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

/* Estilos para el contenedor de contenido */
.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

/* Estilos para el logo */
.logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 200px;
}

/* Estilos para los títulos */
h1, h2 {
    text-align: center;
}

/* Estilos para los párrafos */
p, h3{
    text-align: left;
}

/* Estilos para la casilla de aceptación */
.accept-label {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilos para el botón Siguiente */
#nextButton {
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

#nextButton:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

#nextButton:hover:not([disabled]) {
    background-color: #0056b3;
}


    </style>
</head>
<body>

    <div class="content">
        <img src="../static/multimedia/logo.png" alt="Logo" class="logo">

        <h1>Términos y Condiciones - Labor Lane</h1>
        <p>Esta página web es propiedad y está operado por Labor Lane. Estos Términos establecen los términos y condiciones bajo los cuales usted puede usar nuestra página web y servicios ofrecidos por nosotros. Esta página web ofrece a los visitantes la oportunidad de buscar empleo y/o contratarlos a dichos empleados, centrándonos más en oficios varios como lo son; carpintería, plomería, albañilería, pintor entre otros. Al acceder o usar la página web de nuestro servicio, usted aprueba que haya leído, entendido y aceptado estar sujeto a estos términos:</p>

        <h3>¿Cuáles son los requisitos para crear una cuenta?</h3>
        <p>Para usar nuestra página web y/o recibir nuestros servicios, debe tener al menos 18 años de edad, la mayoría de edad legal en la jurisdicción colombiana, y poseer la autoridad legal, el derecho y la libertad para participar en estos términos como un acuerdo vinculante. No tiene permitido utilizar esta página web y/o recibir servicios si es menor de 18 años. Si este es su caso, Labor Lane no es responsable de esta acción por parte del usuario. Al ser una empresa enfocada en el ámbito laboral, no aceptamos ni promovemos el trabajo infantil y/o a usuarios menores de edad, sin ninguna excepción. Si alguna empresa registrada en Labor Lane infringe este punto, en efecto, será bloqueada (De por vida de la página web) y reportada a las autoridades para un proceso más legal.</p>
        <p>Esto aplica para: Empleados y empresas registradas en Labor Lane</p>
        
        <h3>Seguridad y bienestar</h3>
        <p>Al ser una plataforma totalmente abierta para el público, requerimos unas capas extras de seguridad. En este caso, enfocado en empresas y en los empleados que se registran. Labor Lane busca que el cliente se sienta seguro con las personas que estarán en la plataforma, por ende, se requerirán varios documentos y requisitos para que los empleados que se registren, sean aceptados y confiables para los clientes, empresas y la misma plataforma. Estos requisitos y documentos se dividen en tres:</p>
        
        <h3>Empleados que se registran:</h3>
        <p>
            - Número de teléfono.
            <br>
            <br>
            - Foto del empleado.
            <br>
            <br>
            - Correo electrónico.
            <br>
            <br>
            - Dirección residencial.
            <br>
            <br>
            - Tipo de Documento.
            <br>
            <br>
            - Numero de Documento.
            <br>
            <br>
            - Nombre completo.
        </p>

        <h3>Empresas que se registran:</h3>
        <p>
            - NIT de la empresa.
            <br>
            <br>
            - Nombre de la empresa.
            <br>
            <br>
            - Correo electrónico de contacto.
            <br>
            <br>
            - Nombre del usuario encargado del registro de la empresa en Labor Lane.
            <br>
            <br>
            - Tipo de documento del usuario encargado del registro de la empresa en Labor Lane.
            <br>
            <br>
            - Numero de documento del usuario encargado del registro de la empresa en Labor Lane.
            <br>
            <br>
            - Cargo del usuario (En la empresa donde trabaja) encargado del registro de la empresa en Labor Lane.
            <br>
            <br>
            - Nombre del dueño o representante legal de la empresa registrada en Labor Lane.
            <br>
            <br>
            - Numero de contacto del dueño o representante legal de la empresa registrada en Labor Lane.
        </p>
        
        <h3>Clientes que se registran:</h3>
        <p>
            - Nombre completo.
            <br>
            <br>
            - Número de Teléfono.
            <br>
            <br>
            - Correo electrónico.
            <br>
            <br>
            - Dirección residencial.
            <br>
            <br>
            - Tipo de documento.
            <br>
            <br>
            - Numero de documento.
        </p>
        
        <h3>Entrevistas y protocolos de seguridad</h3>
        <p>Los empleados tendrán que pasar por una serie de protocolos y fases para poder ser verificados, aceptados y/o subidos a la plataforma (Labor Lane). Esto debido al alto riesgo que puede haber cuando un cliente contrata a un empleado y este requiere que vaya a su domicilio. Varios de las fases son: Entrevistas, documentos vigentes que se le piden al empleado, monitoreo del empleado mientras esta en servicio, pruebas del servicio finalizado, pruebas del servicio iniciado, reporte del servicio hecho y reportar anomalías entre otros métodos de seguridad.</p>

        <h3>Retención del derecho a cambiar de oferta</h3>
        <p>Podemos, sin aviso previo, cambiar los servicios; dejar de proporcionar los servicios o cualquier característica de los servicios que ofrecemos; o crear límites para los servicios. Podemos suspender de manera permanente o temporal el acceso a los servicios sin previo aviso ni responsabilidad por cualquier motivo, o sin ningún motivo.</p>

        <h3>Posesión de propiedad intelectual, derechos de autor y logos.</h3>
        <p>El servicio y todos los materiales incluidos o transferidos, incluyendo, sin limitación, software, imágenes, texto, gráficos, logotipos, patentes, marcas registradas, marcas de servicio, derechos de autor, fotografías, audio, videos, música y todos los Derechos de Propiedad Intelectual relacionados con ellos, son la propiedad exclusiva de Labor Lane. Salvo que se indique explícitamente en este documento, no se considerará que nada en estos Términos crea una licencia en o bajo ninguno de dichos Derechos de Propiedad Intelectual, y usted acepta no vender, licenciar, alquilar, modificar, distribuir, copiar, reproducir, transmitir, exhibir públicamente, realizar públicamente, publicar, adaptar, editar o crear trabajos derivados de los mismos.</p>

        <h3>Derecho a suspender o cancelar la cuenta de usuario</h3>
        <p>Podemos terminar o suspender de manera permanente o temporal su acceso al servicio sin previo aviso y responsabilidad por cualquier razón, incluso si a nuestra sola determinación usted viola alguna disposición de estos Términos o cualquier ley o regulación aplicable. Puede descontinuar el uso y solicitar cancelar tu cuenta y/o cualquier servicio en cualquier momento. Sin perjuicio de lo contrario en lo que antecede, con respecto a las suscripciones renovadas automáticamente a los servicios pagados, dichas suscripciones se suspenderán solo al vencimiento del período correspondiente por el que ya has realizado el pago. Bloquear o eliminar la cuenta dependerá del usuario, si en su caso, publica, acosa y/o infringe alguna norma aquí estipulada o en su caso más extremo, viola alguna ley vigente en el gobierno del país.</p>

        <h3>Indemnización</h3>
        <p>Usted acuerda indemnizar y eximir de responsabilidad a Labor Lane de cualquier demanda, pérdida, responsabilidad, reclamación o gasto (incluidos los honorarios de abogados) que terceros realicen en su contra como consecuencia de, o derivado de, o en relación con su uso de la página web o cualquiera de los servicios ofrecidos en la página web.</p>

        <h3>Limitación de responsabilidad</h3>
        <p>En la máxima medida permitida por la ley aplicable, en ningún caso Labor Lane será responsable por daños indirectos, punitivos, incidentales, especiales, consecuentes o ejemplares, incluidos, entre otros, daños por pérdida de beneficios, buena voluntad, uso, datos. U otras pérdidas intangibles, que surjan y/o estén relacionadas con el uso o la imposibilidad de utilizar el servicio.</p>
        <p>En la máxima medida permitida por la ley aplicable, Labor Lane no asume responsabilidad alguna por: <br> (I) Errores o inexactitudes de contenido; <br> (II) Lesiones personales o daños a la propiedad, de cualquier naturaleza que sean, como resultado de su acceso o uso de nuestro servicio; <br> (III) Cualquier acceso no autorizado o uso de nuestros servidores seguros y/o toda la información personal almacenada en los mismos.</p>
        
        <h3>Derecho a cambiar y modificar los Términos</h3>
        <p>Nos reservamos el derecho de modificar estos términos de vez en cuando a nuestra entera discreción. Por lo tanto, debe revisar estas páginas periódicamente. Cuando cambiemos los Términos de una manera material, le notificaremos que se han realizado cambios importantes en los Términos. El uso continuado de la página web o nuestro servicio después de dicho cambio constituye su aceptación de los nuevos Términos. Si no acepta alguno de estos términos o cualquier versión futura de los Términos, no use o acceda (o continúe accediendo) a la página web o al servicio.</p>

        <h3>Emails de promociones y contenido</h3>
        <p>Acepta recibir de vez en cuando nuestros mensajes y materiales de promoción, por correo postal, correo electrónico o cualquier otro formulario de contacto que nos proporcione (incluido su número de teléfono para llamadas o mensajes de texto). Si no desea recibir dichos materiales o avisos de promociones, simplemente avísenos en cualquier momento.</p>

        <h3>Preferencia de ley y resolución de disputas</h3>
        <p>Estos términos, los derechos y recursos provistos aquí, y todos y cada uno de los reclamos y disputas relacionados con este y/o los servicios, se regirán, interpretarán y aplicarán en todos los aspectos única y exclusivamente de conformidad con las leyes sustantivas internas de Colombia – Bogotá D.C sin respeto a sus principios de conflicto de leyes. Todos los reclamos y disputas se presentarán y usted acepta que sean decididos exclusivamente por un tribunal de jurisdicción competente ubicada en Bogotá D.C. La aplicación de la Convención de Contratos de las Naciones Unidas para la Venta Internacional de Bienes queda expresamente excluida.</p>

        <h3>Atención al cliente e información de contacto</h3>
        <p>Los correos o números de contacto para recibir quejas o reclamos estarán al final de la página web. Estas quejas, reclamos, dudas, entre otras. Se atenderán lo más pronto posible, desde el medio escogido.</p>

        <br>
        <br>
        <br>
        <br>
        <a href="/login"><button id="nextButton" >Regresar</button></a>
        <br>   
        <p>Estos términos y condiciones fueron actualizados el [15/08/2023].</p>
    </div>

<script src="../static/js/t_c.js"></script>
</body>
</html>
